### For Fly Super PRO 8 ####
### And Mellow Kit  ####
### For Fly Super non pro, the SPI bus is spi3
[include mainsail.cfg]
[include Exclude_Object.cfg]
[include Macro.cfg]
[display_status]
[exclude_object]
[virtual_sdcard]
path: ~/printer_data/gcodes
[pause_resume]
#[include led_progress.cfg]
#[include K-ShakeTune/*.cfg]
[include motor_database.cfg]
[include KAMP_Settings.cfg]
[include Adaptive_Mesh.cfg]
##### VzBoT############
#######################

[shaketune]
 result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
 number_of_results_to_keep: 10
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
 show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
 timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

[printer]
kinematics: corexy
max_velocity: 1800
max_accel: 25000
#max_accel_to_decel: 5000
max_z_velocity: 30
max_z_accel: 1500
square_corner_velocity: 22

########################
########################

[idle_timeout]
timeout: 3000

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_12003F000451323336333538-if00
restart_method: command
#canbus_uuid: 6787b030ffd2 

#[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#canbus_uuid: b44b95e8397b

[mcu rpi]
serial: /tmp/klipper_host_mcu

[resonance_tester]
accel_chip: beacon
probe_points: 165, 152, 30
max_freq: 180

[gcode_arcs]
resolution: 0.001

#####################################################################
#	Thermistor definitions
#####################################################################

[thermistor Trianglelab] #NTC100K B3950
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6


########################

[stepper_x]
##	in M4 position
step_pin: PE15
dir_pin: PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200  
endstop_pin: PG11                 #make sure to set the correct pin here.
position_endstop: 0
position_min: 0
position_max: 329
homing_speed: 100 
homing_positive_dir: false
homing_retract_dist: 3

[tmc5160 stepper_x] 
#spi_bus: spi3
cs_pin: PE10
#diag_pin: PD7
interpolate: true
run_current: 1.8
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3

#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive


[stepper_x1]
##	in M3 position
step_pin: PE14
dir_pin: PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

[tmc5160 stepper_x1] 
##spi_bus: spi3
cs_pin: PE7
##diag_pin: PG9
interpolate: true
run_current: 1.8
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
##driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive


[stepper_y]
##	in M6 position
step_pin: PE0
dir_pin: PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200  
endstop_pin: PG12            #make sure to set the correct pin here.
position_endstop: 0
position_min: 0
position_max: 312
homing_speed: 100 
homing_retract_dist: 3

[tmc5160 stepper_y] 
#spi_bus: spi3
cs_pin: PG2
#diag_pin: PA8
interpolate: true
run_current: 1.8
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive



[stepper_y1]
##	in M5 position
step_pin: PE1
dir_pin: PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_y1] 
#spi_bus: spi3
cs_pin: PF1
#diag_pin: PD6
interpolate: true
run_current: 1.8
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
##driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive





#########################

#########################

[stepper_z]
## In M0 position
step_pin: PE2
dir_pin: PC5
enable_pin: !PF11
microsteps: 64
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
#endstop_pin: PG10
#position_endstop: 0.0
homing_speed: 6
second_homing_speed: 2
position_min: -1.0
position_max: 406
full_steps_per_rotation: 200
homing_positive_dir: false

[tmc2209 stepper_z]
interpolate: false
uart_pin: PC4
run_current: 1.3
sense_resistor: 0.110
interpolate: true

[bed_mesh]
speed: 280
horizontal_move_z:1
algorithm: bicubic
mesh_min: 38,26.075
mesh_max: 313,275
probe_count: 10,10

#[safe_z_home]
#home_xy_position: 165,144
#z_hop: 2    

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_56DA762C4E5737374D202020FF0B2017-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 26.075 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

home_xy_position: 165,144
home_z_hop: 2 
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

#[force_move] 
#enable_force_move: true   # required by the command SET_KINEMATIC_POSITION in the calibration step below.


#########################

[extruder]
## In M1 position
### LGX LITE PRO
step_pin: PE3
dir_pin: !PF13
enable_pin: !PF14
#step_pin: EBBCan: PD0
#dir_pin: !EBBCan: PD1
#enable_pin: !EBBCan: PD2
microsteps: 16
#Alu VZhextrudort Moons 8T
rotation_distance: 35.7642 #35.8
Gear_ratio: 60:10
#rotation_distance: 3.9  #3.99 #3.81762 #3.81 #3.99
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB0
#sensor_type: MAX31865
#sensor_pin: EBBCan: PA4
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2
sensor_type: MAX31865 
sensor_pin: PF15 
spi_software_sclk_pin: PB3 
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
rtd_nominal_r: 100 
rtd_num_of_wires: 2 
rtd_reference_r: 430
#sensor_type: PT1000 #Generic 3950
#sensor_pin: PF4
###
#control: pid
#pid_Kp=28.737 
#pid_Ki=1.935 
#pid_Kd=106.684
min_temp: -250
max_temp: 390
full_steps_per_rotation: 200
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 20000
min_extrude_temp: 180
pressure_advance: 0.034
pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
interpolate: true
uart_pin: PF12
#uart_pin: EBBCan: PA15
run_current: 0.6
sense_resistor: 0.110

[verify_heater extruder]
max_error: 800
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 100
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 10
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.


#[temperature_sensor Goliath_Heatsink]
#sensor_type: Generic 3950
#sensor_pin: EBBCan: PA3

########################
########################

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
#control: pid
#pid_Kp: 66.746
#pid_Ki: 3.504
#pid_Kd: 317.878
max_power: 0.80
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 800
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 100
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 10
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[temperature_sensor Chamber_oben]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF5

[temperature_sensor Chamber_unten]
sensor_type: Trianglelab 
sensor_pin: PF9

########################
#### FANS ##############
########################

[fan]
##	Print Cooling Fan - GPIO26
pin: PF8 
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector (or watercooling pump+fan on radiator)
pin: PA0 #PD12 #EBBCan: PA1  ##PA0 
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#tachometer_pin: PD6 #EBBCan: PB3

[fan_generic Exhaust_fan]
##  exhaust fan - In FAN4
pin: PA15
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

[fan_generic chamber_fan]
##  chamber fan - In FAN9 Positon
pin: PA1
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

[multi_pin RSCS_pins]
pins: PA2, PD15

#[fan_generic RSCS]
#pin: multi_pin:RSCS_pins
#max_power: 1
#shutdown_speed: 0
#off_below: 0.36
#kick_start_time: 3
#cycle_time: 0.00045 #0.5 #00015
#hardware_pwm: false
#off_below: 0
#heater: heater_bed

[fan_generic Aux_Fan] 
pin: multi_pin:RSCS_pins
max_power: 1
shutdown_speed: 0
off_below: 0.36
kick_start_time: 3
cycle_time: 0.00045 #0.5 #00015
hardware_pwm: false
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:

[controller_fan driver_fan] 
# This is if you connect your driver fan to Super8 
#or if you want to add fan to the Super8. Other wise connect them in the driver fan ports
stepper: stepper_x
pin: PB10
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10

##################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: PC7
sensor_type: Generic 3950
pullup_resistor: 4700
sensor_pin: PC0
#control: watermark
max_power: 1
min_temp: 0
max_temp: 230

[verify_heater chamber_heater]
max_error: 350
check_gain_time: 480
hysteresis: 5
heating_gain: 1
[heater_fan chamber_heater_fan]
pin: PB11
max_power: 0.8
shutdown_speed: 0
heater: chamber_heater
heater_temp: 35 # fan will turn off below this level 


########################
########################
[temperature_sensor FLY-Super8]
sensor_type: temperature_mcu

#[temperature_sensor chamber]  optional for chamber temp
#sensor_type: NTC 100K MGB18-104F39050L32
#pullup_resistor: 4700
#sensor_pin: PF9
#min_temp: 0
#max_temp: 60
#gcode_id: C: C


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100



########################
########################

[pause_resume]
recover_velocity: 650

[firmware_retraction]
retract_length: 0.4
unretract_extra_length: 0.00
unretract_speed: 45
retract_speed: 35
###########################################
#########Custom PINs Definition ############
###########################################


#[output_pin LED]
#In FAN8 position
#pin: PD14
#pwm: false
#value: 1
#shutdown_value:1
### gcode command: SET_PIN PIN=LED value=0 to 1

[neopixel caselight]
pin: PD0
chain_count: 39
#   The pin connected to the neopixel. This parameter must be
#   provided.
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.7
initial_GREEN: 0.7
initial_BLUE: 0.7
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.


########################
########################

[bed_screws]
screw1: 20,20
screw2: 20,290
screw3: 290,290
screw4: 290,20


########################
########################

[input_shaper]
shaper_freq_x: 120.6
shaper_type_x: mzv
shaper_freq_y: 78.1
shaper_type_y: mzv


[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
voltage: 48
tuning_goal: performance
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac
voltage: 48
tuning_goal: performance
[autotune_tmc stepper_x1]
motor: ldo-42sth48-2504ac
voltage: 48
tuning_goal: performance
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2504ac
voltage: 48
tuning_goal: performance

[autotune_tmc stepper_z]
motor: ldo-42sth60-2004ac
voltage: 24
tuning_goal: performance

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
voltage: 24


[motors_sync]
axes: x,y
#    Axes on which calibration will be performed.
accel_chip: beacon
#    Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#encoder_chip_<axis>:
#    Axis, assigned encoder name, for measuring deviations.
#chip_filter: median
#    Filter type for data from the accelerometer: 'median' works well in
#    most cases, but some particularly noisy printers (fans, etc.) may
#    require a more powerful filter - 'kalman'. On lis2dw filters disabled.
#median_size: 3
#    Median filter window size.
#kalman_coeffs: 1.1, 1., 1e-1, 1e-2, .5, 1.
#    Simple coefficients describing the kalman filter.
microsteps: 64
#    Maximum microstepping displacement of the stepper motor rotor.
#steps_model: linear, 20000, 0
#    Mathematical model and its coefficients representing the dependence
#    of stepper motor microstep displacement on the measured magnitude.
#max_step_size: 3
#    The maximum number of microsteps that the motor can take move at time,
#    to achieve the planned magnitude.
#axes_steps_diff: 4
#    The difference in motor positions in microsteps between two axes, used
#    to trigger a check for magnitude shift on the secondary axis in corexy
#    like kinematics. Default value: max_step_size + 1.
#retry_tolerance: 0
#    The forced threshold to which a pair of stepper motors on one belt
#    will have to lower the magnitude of the oscillations. It's recommended
#    to configure in order to filter possible inaccuracies. After several
#    iterations of starting synchronization, you will find the edge, to
#    which this parameter should be omitted.
#retries: 0
#    The maximum number of repetitions to achieve the forced threshold of
#    oscillations.
#head_fan:
#    Toolhead fan, which will be turned off during sync to eliminate noise.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.915
#*# pid_ki = 1.588
#*# pid_kd = 75.606
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.192
#*# pid_ki = 0.698
#*# pid_kd = 578.763
#*#
#*# [beacon model default]
#*# model_coef = 1.5409017291794256,
#*# 	1.8921050744159476,
#*# 	0.780771931515774,
#*# 	0.3488215964375341,
#*# 	0.5313790658485177,
#*# 	0.5988685218603543,
#*# 	-0.5297508311264788,
#*# 	-0.8526015357874713,
#*# 	0.2767081664950374,
#*# 	0.4156945330877549
#*# model_domain = 1.850723529956897e-07,1.9357676996298884e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 19.056018
#*# model_offset = 0.07000
#*#
#*# [chamber_heater]
#*# control = pid
#*# pid_kp = 25.621
#*# pid_ki = 0.846
#*# pid_kd = 194.080
#*#
#*# [heater_generic chamber_heater]
#*# control = pid
#*# pid_kp = 29.377
#*# pid_ki = 1.031
#*# pid_kd = 209.315
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.054502, 0.054331, 0.078029, 0.073580, 0.027549, 0.046701, 0.046386, 0.058562, 0.030728, 0.033168
#*# 	0.032954, 0.023983, 0.049470, 0.038692, -0.006689, 0.010555, 0.010285, 0.022976, -0.000285, -0.006738
#*# 	0.024850, 0.012111, 0.041342, 0.025732, -0.021961, -0.000190, 0.000282, 0.010014, -0.012380, -0.010518
#*# 	0.030542, 0.015690, 0.046916, 0.027166, -0.016385, 0.000485, 0.004152, 0.010964, -0.010727, -0.006048
#*# 	0.043295, 0.025835, 0.052005, 0.031862, 0.000615, 0.018186, 0.012752, 0.032646, 0.010757, -0.000941
#*# 	0.056320, 0.036724, 0.057443, 0.038277, 0.000709, 0.018793, 0.018071, 0.035918, 0.003567, 0.006683
#*# 	0.066299, 0.047470, 0.062341, 0.043026, 0.002142, 0.015959, 0.013924, 0.028255, -0.002116, -0.002861
#*# 	0.059723, 0.048888, 0.058239, 0.032103, -0.006248, 0.002042, -0.002404, 0.021451, -0.009251, -0.011302
#*# 	0.061651, 0.039441, 0.055762, 0.034231, -0.006935, -0.000052, -0.000832, 0.010949, -0.018101, -0.018560
#*# 	0.085660, 0.069790, 0.089773, 0.071623, 0.019326, 0.029124, 0.029393, 0.038621, 0.013313, -0.000869
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 38.0
#*# max_x = 305.0
#*# min_y = 26.075
#*# max_y = 275.0
